# ignore virtual env
.venv/
.vscode
# ignore raw CSV data
combined_data/

# ignore Parquet outputs
data_parquet/

# Default .gitignore content added by dbt Cloud# you shouldn't commit these into source control
# these are the default directory names, adjust/add to fit your needs
target/
dbt_packages/
logs/
# end dbt Cloud content
# .gitignore
*.pyc
*.log
venv/
taxi-transport-analytics-fbfa6653d305.json
target/
dbt_packages/
